[submodule "win32/libpng/src"]
	path = win32/libpng/src
	url = https://git.code.sf.net/p/libpng/code
[submodule "win32/zlib/src"]
	path = win32/zlib/src
	url = https://github.com/madler/zlib.git
[submodule "cross2d/libcross2d"]
	path = cross2d/libcross2d
	url = git@github.com:Cpasjuste/libcross2d.git
